/.vs
obj/
bin/
0Harmony.dll
Assembly-CSharp-firstpass.dll
Assembly-CSharp.dll
UnityEngine.CoreModule.dll
UnityEngine.dll
UnityEngine.IMGUIModule.dll
UnityEngine.UI.dll
UnityModManager.dll
post-build.bat
